<div class="main-header">
    <div class="main-info">
      <h2>Ramen 101</h2>
    </div>
    <div class="main-options">

    </div>
</div>

<div class="main-content">

  <div class="main-image-box">
    <%= image_tag "https://fthmb.tqn.com/Gw68g60zpDHgBbOh22vIhD5Hhms=/960x0/filters:no_upscale()/about/466367919-56a541015f9b58b7d0dbeb51.jpg", class: "main-image" %>
  </div>

  <div class="main-content">
    <h4>Introduction to Ramen</h4>

    <p>From the article <%= link_to "Introduction to Ramen", "https://www.thespruce.com/introduction-to-ramen-2030033" %></p>
    <p>Ramen are very popular noodle dishes in Japan, and boiled noodles are basically served in different flavored soup with many toppings. Chukamen noodles which are generally made with wheat flour and kansui (alkaline solution) are used for ramen dishes. There are many regional speciality ramen available in Japan. They are different in broth, soup flavors, toppings, noodle texture, and more. Making a delicious ramen isn't easy if you are making the soup from scratch.</p>
    <p>The taste of ramen mainly depends on the soup, and it requires skills to make delicious soup. Ramen chefs usually train for a long time to make good ramen soup. Each ramen shop has its own way to make ramen soup, and there are so many different ways. Chicken bone, pork bone, dried sardines (niboshi), and/or kombu are used to make soup stock.</p>
    <p>Vegetables, such as ginger, negi onion, garlic, or/and mushrooms are also added. Categorized by soup flavors, there are mainly four kinds of ramen: shio ramen (salt flavored soup), shoyu ramen (soy sauce flavored soup), tonkotsu ramen (pork bone based creamy soup), miso ramen (miso flavored soup). Common ramen toppings are negi, shinachiku (seasoned bamboo shoots), nori (dried seaweed), boiled egg, narutomaki, and lots more.</p>
  </div>
</div>
