<h1>Editing Restaurant</h1>

<div class="main-content-form">
  <%= render 'form', restaurant: @restaurant %>


<%= form_for @restaurant, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>

</div>
